<?xml version='1.0' encoding='utf-8'?>
<widget id="dk.showbus.barshuttle" version="1.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BarShuttle</name>
    <description>
        Barshuttle app.
    </description>
    <author email="b@rbussen.dk" href="http://showbus.dk">
        Showbus Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <access origin="showbus.dk" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <icon src="AppIcon57x57@2x.png" />
    <icon src="AppIcon57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="AppIcon72x72.png" gap:platform="ios" width="72" height="72" />
    <icon src="AppIcon57x57@2x.png" gap:platform="ios" width="114" height="114" />

    <icon src="AppIcon72x72.pn" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="AppIcon72x72.pn" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="AppIcon57x57@2x.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="AppIcon57x57@2x.png" gap:platform="android" gap:qualifier="xhdpi" />

    <gap:splash src="splash.png" />

    <gap:splash src="splash-320.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="splash-640x.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="splash-640.png" gap:platform="ios" width="640" height="1136" />


</widget>
